/* Colors used

Primary colors: #FCA8C3, #FDB6A7, #98C6FC
Neutral colors: #DAD1D1, #8E8484, #3F3636
Accent colors: #FF709E, #FF8A71, #489CFF

*/

body {
  color: #E7004A;
  font-family: 'Avenir';
  font-size: 16px;
  line-height: normal;
}

h1 {
  font-family: 'Abril Fatface';
  font-size: 30px;
  text-align: center;
  color: #E7004A;
}

h2 {
  font-size: 24px;
  text-align: center;
  color: #FF5936;
}

h3 {
  font-size: 18px;
  text-align: center;
  color: #FDB6A7;
}

a {
  color: #009CD8;
}

a:visited {
  color: #3C93F9;
}

a:hover,
a:focus {
  text-decoration: none;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #007CAC;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #DAD1D1; /* width of the border, type, color */
  opacity: 0.9;
  transition: 0.3s;
  text-decoration: none;
}

button:hover,
.button:hover {
opacity: 1;
  background-color: #FF709E;
  color: #FF709E;
}

/* Layout styling */

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 50px;
}

.columns-container {
  font-size: 0;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

.column-4:last-child {
margin-right: 0;
}

.column-4 img {
  width: 100%
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

@media all and (max-width: 700px) {
  .logo {
    height: 50px;
  }

  h1 {
    font-size: 24px;
    text-align: left;
  }

  .column-4 {
    width: 49%;
    margin-right: 1%;
  }
}

.column-4:nth-child(even) {
margin-right: 0;
}

/* Animation Styling */

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.project-details {
  display: none;
}

.column-4 {
  /* other rules... */
  vertical-align:top;
}

.center {
  text-align: center;
}
