/* Colors used

Primary colors: #FCA8C3, #FDB6A7, #98C6FC
Neutral colors: #DAD1D1, #8E8484, #3F3636
Accent colors: #FF709E, #FF8A71, #489CFF

*/

body {
  color: #FDB6A7;
  font-family: 'Avenir';
  font-size: 16px;
  line-height: normal;
}

h1 {
  font-family: 'Abril Fatface';
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

div {
  padding: 10px; /* Adds a 10px inner spacing to all sides*/
  margin: 10px; /* Adds a 10px outer spacing to all sides*/
}

a {
  color: #FF709E;
}

a:visited {
  color: #489CFF;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;

  background-color: #DAD1D1;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #DAD1D1; /* width of the border, type, color */
  transition: 0.2s opacity;
}

/* Layout styling */

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 50px;
}

.columns-container {
  font-size: 0;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

.column-4:last-child {
margin-right: 0;
}

.column-4 img {
  width: 100%
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

@media all and (max-width: 700px) {
  .logo {
    height: 50px;
  }

  h1 {
    font-size: 24px;
    text-align: left;
  }

  .column-4 {
    width: 49%;
    margin-right: 1%;
  }
}

.column-4:nth-child(even) {
margin-right: 0;
}
